---
import Layout from "../layouts/Layout.astro"

import colors from "../colors.json"
import { convertColor } from "../utils/colorTool"

let colorData = colors.map((color: string) => convertColor(color))

colorData.sort((a, b) => (a.h >= b.h ? 1 : -1))
---

<Layout title="Welcome to Astro.">
  <div class="grid grid-cols-8 gap-1 text-xs">
    {
      colorData.map((color) => (
        <div
          style={`background: #${color.hex}`}
          class={`aspect-[1/1.25] text-center text-black`}>
          <div class="flex flex-col justify-between bg-white">
            <p class="text-black">#{color.hex}</p>
            <p class="text-black bg-white">
              rgb({color.r}, {color.g}, {color.b})
            </p>
            <p class="text-black bg-white">
              hsv({color.h.toFixed(0)}, {color.s.toFixed(0)},{" "}
              {color.v.toFixed(0)})
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
